:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ebd8ff;
  background-color: #766a92;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #ebd8ff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #5cd3a8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ebd8ff;
}

ul {
  list-style: none;
}

button {
  border-radius: 10.3108px;
  border: none;
  padding: 14px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #ebd8ff;
  color: #373737;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: box-shadow 0.25s;
}
button:hover,
button:focus {
  box-shadow: 10px 5.43693px 3.43693px rgba(0, 0, 0, 0.25);
}
